/* Body */
body {
  width: 100%;
  background-color: black;
  color: white;
}

.container-fluid {
    text-align: center;
}

article {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    background-color: #e6edde;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
  color: white;
}

h1 {
  color: green;
  font-family:'Hammersmith One', sans-serif;
  font-size: 70px;
}

h2 {
  color: black;
  background: white;
}
h3 {
  color: black;
  font-size: 14px;
}

h4  {
font-family:'Hammersmith One', sans-serif;
text-align: center;
color: rgba(199, 0, 10, 1);
text-shadow: 2px 2px 1px rgba(255, 255, 255, .5);
font-size: 40px;
}

h5{
  color: black;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Navigation */
nav button {
  background-image: linear-gradient(to bottom right, rgb(54, 58, 57), black);
  border: thin black solid;
  border-radius: 5px;
}

 a:link {
   text-decoration: underline;
   color: white;
 }

 a:visited {
   color: green;
 }

 a:hover {
   font-weight: bold;
   text-decoration: none;
 }

 a:active {
   text-decoration: none;
   font-weight: bolder;
   color: yellow;
 }

nav {
  border-top: thick green solid;
  border-bottom: thick green solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1%;
  margin-bottom: 10px;
  font-family: 'restaurantStyles';
}

/* Header/Footer*/
header, footer {
    background-color: #e2e2e2;
}

footer {
    border-top: 2px #365612 solid;
    padding: 15px 0px 30px 0px;
    color: #365612;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
